.default {
    padding: 0;
    margin: 0;
    background: #333333;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.menu {
    width: 100%;
    display: inline-flex;
    flex-flow: row wrap;
    flex-flow: 2;
}

.menu div {
    flex: 1;
    text-align: center;
    padding: 10px;
    height: 10%; 
    min-height: 18px;
    max-height: 25px;
    flex-grow: 1;
}

.menu div:hover{
    background: #111111;
}

.menu a{
    color: white;
    text-decoration: none;
}

.main {
    margin-top: 200px;
}

.footer {
    text-align: center;
    width: 100%;
}