@import url(/www/css/montserrat.css);

@media screen and (min-width: 636px) {
	.nav-links {
		display: flex;
	}

	#icon {
		display: none;
	}
}

@media screen and (max-width: 636px) {
	.nav-links {
		display: none;
	}

	#icon {
		display: block;
	}
}

.basic_header {
	background-color:#000;
	color:#fff;
	padding: 20px;
	height:fit-content;
	display:flex;
	flex-flow:left;
	justify-content:space-between;
	padding-bottom:0px;
	padding-top:0px;

	h1 {
		padding-bottom:5px;
		padding-top:5px;
		margin: 0px;
	}

	.nav-links {
		.nav-link {
			padding-top: 10px;
			padding-left: 10px;
			padding-right: 10px;
			cursor:pointer;

			&:hover{
				background:#333;
			}

			&:active{
				background:#933;
			}
		}

		.active-nav-link {
			background:#933;
		}
	}

	#icon {
		margin: auto 0;
		div {
			width: 35px;
			height: 5px;
			background-color: #fff;
			margin: 6px 0;
			transition: 0.4s;
		}
	}
}

#popup-window {
	display:none;
}

footer  {
	padding: 10px;
	text-align: center;
}

*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Montserrat', 'sans-serif';
}

.container {
	width: 80%;
	margin: 2rem auto;
	text-decoration: none;

	// for grid with heading and grid
	.mwen-grid-overview {
		h1 {
			margin: 5px;
		}
		.mwen-grid {
			width: calc(100% - 10px);
			display: grid;
			grid-gap: 10px;
			grid-template-columns:repeat(auto-fill, minmax(250px, 1fr));
			grid-auto-rows: 30px;
			margin: 20px 5px;
			.item {
				padding: 10px;
				min-width: 250px;
				box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
			}
			.item-hover:hover {
				background-color: #bbb;
			}
			.mdc-fab {
				background-color: red;
			}
		}
	}

	a {
		text-decoration: none;
	}

	h3 {
		color: #000;
		text-decoration: none;
	}

	p {
		margin: 1rem 0;
	}

	table, td, th {
		border: 1px solid #ddd;
		text-align: left;
	}

	table {
		width: 100%;
		border-collapse: collapse;
		table-layout:fixed;
		word-wrap:break-all;
	}

	th, td {
		padding: 15px;
	}

	table td {
		width:100px;
	}

	table tr td div {
		word-break:break-all;
	}

	// h1, h2, h3, h4 {
	// 	margin: 20px 0;
	// }

	pre {
		padding: 10px;
		font-family: monospace;
		color: #dadada;
		background-color: #303030;
		overflow-x: auto;

		.DraculaYellow {
			color: #ffff87;
		}

		.DraculaCyanItalic {
			color: #87d7ff; font-style: italic;
		}

		.LineNr {
			color: #af5f00;
		}

		.DraculaPurple {
			color: #af87ff;
		}

		.DraculaComment {
			color: #5f5faf;
		}

		.DraculaPink {
			color: #ff87d7;
		}
	}

	.default-pre {
		font-family: monospace;
		background-color: #fff;
		color: #000;
		width: fit-content;
		padding: 0px;
		margin: 0px;
	}

}

.noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
	supported by Chrome, Opera and Firefox */
	-webkit-tap-highlight-color: transparent;
}

.div-flex-content {
	display: flex;
	flex-flow:right;
	flex-wrap: wrap;
	word-break:normal;
	* {
		margin-bottom: 20px;
		margin-right: 20px;
	}
}
