<div class="item" style="text-align: center; position: relative;">
	<div class="content" style="margin: 0; 
		                        position: absolute; 
				                top: 50%; 
				                left: 50%;
				                -ms-transform: translate(-50%, -50%); 
				                transform: translate(-50%, -50%);">
		<a class="mdc-fab" aria-label="add">
			<div class="mdc-fab__ripple"></div>
			<span class="mdc-fab__icon material-icons">add</span>
		</a>
		<p>Create Webpage</p>	
	</div>
</div>
