.default {
    padding: 0;
    margin: 0;
    background: #222222;
    color: white;
}

.selected {
    background: #ff3333;
}

.notselected {
    background: #222222;
}

.content {
    background-color: snow;
    color: black;
}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden;
}

.header_menu {
    padding: 0px;
    margin: 0px;
    font-size: large;
    font-weight: normal;
}

.menu {
    width: 100%;
    display: inline-flex;
    flex-flow: row wrap;
    flex-flow: 2;
}

.menu div {
    flex: 1;
    text-align: center;
    padding: 15px;
    flex-grow: 1;
}

.footer {
    text-align: center;
    width: 100%;
}

.body-div {
    margin: 0;
    width: 100%;
}

.grid_css {
    width: 0px;
}
